.frame {
  padding: 35px 60px;
  z-index: 5;
  background-color: var(--bg-frame);
  border-radius: 30px;
}

.title {
  margin-bottom: 25px;
  font: var(--font-xl-bold);
  font-weight: 700;
}

.count {
  font: var(--font-l-bold);
  color: #2B8580;
}

.filterModule {
  display: flex;
  margin-bottom: 40px;
}

.listWrapper {
  display: flex;
  flex-wrap: wrap;
  font: var(--font-s);
  max-width: 95%;
  gap: 10px;
  margin-right: 40px;
}

.button {
  background-color: transparent;
  outline: none;
  border-style: none;
  color: white;
  height: 50px;
}

@media only screen and (max-width: 768px) {
  .frame {
    padding: 30px;
  }
  .filterModule {
    flex-direction: column;
  }
  .listWrapper {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .button {
    align-self: flex-end;
  }
}
