.main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.dots {
  position: absolute;
  width: 100%;
  object-fit: cover;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 768px) {
  .main {
    padding: 2rem;
  }
}
